<!DOCTYPE html>
<html lang="en" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">


<title>Control 5B Peivand Perez</title>
<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}"/>
<link href="/css/globalstyle.css" rel="stylesheet" th:href="@{/css/globalstyle.css}"/>
<script src="/js/jquery-3.4.1.js" th:href="@{/js/jquery-3.4.1.js}"></script>
<script src="/js/goles.js" th:href="@{/js/goles.js}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div th:replace="fragments/header :: header">&n</div>
	<div class="container">
		<div class="panel panel-default" id="panel1">
			<div class="panel-body">
				<h3>Goles Liga Española</h3>	
				<p>
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:GolesController('listAll')">Ver tabla Goleadores</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:GolesController('golesEquipo')">Goles por Equipo</button>
					<button type="button" class="btn btn-primary btn-sml" onclick="javascript:GolesController('update')">Modificar Goles</button>

				</div>
				<p>
				<div class="alert alert-danger" id="msg" hidden="true">
				</div>
				<p>
				<div class="input-group">
					<span class="input-group-addon">RUT Jugador</span>
					<input type="number" class="form-control" id="jug_rut" >
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">Nombre Jugador</span>
					<input type="text" class="form-control" id="jugNombre" >
				</div>
				<div class="input-group">
					<span class="input-group-addon">Nombre Equipo</span>
					<input type="text" class="form-control" id="equNombre" >
				</div>
				<div class="input-group">
					<span class="input-group-addon">Goles</span>
					<input type="number" class="form-control" id="golCantidad" >
				</div>
			
			</div>
		</div>
	
	</div>


	<div id="myModalListAll" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">Close</button>
					<h4 class="modal-title">Tabla Goleadores </h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive" style='height:100%' id='tableDivContainer'>
						<table class="table table-condensed" id='goleadoresTable' data-toggle="table" data-height="299">
							<thead><tr>
							
								<th data-field="jugNombre">Nombre Jugador</th>
								<th data-field="equNombre">Nombre Equipo</th>
								<th data-field="golCantidad">Goles</th>
								<th data-field="jug_rut">Rut Jugador</th>
								
					
							</tr>
							</thead>
						</table>
					</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
					</div>
			</div>
		</div>
	</div>
	
		<div id="myModalGolesEquipo" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">Close</button>
					<h4 class="modal-title">Goles por Equipo </h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive" style='height:100%' id='tableDivContainer'>
						<table class="table table-condensed" id='golesEquipoTable' data-toggle="table" data-height="299">
							<thead><tr>
								
								<th data-field="equNombre">Nombre Equipo</th>
								<th data-field="total_goles">Goles</th>
															
							</tr>
							</thead>
						</table>
					</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>	
					</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	<script type="text/javascript" src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>
</body>
</html>